<div class="row">
    <div class="col-lg-6">
        <h2 style="font-size:40px;">Features</h2>
        <p>Unlike the Decennial Census, the American Community Survey
        is an ongoing statistical survey administered by the U.S. Census Bureau. The
        survey results are used by government agencies to allocate over <b>$400 billion</b> of
        budget items. Results are aggregated in varying time frames, with aggregations ranging
        from one to five years.</p>
        <ul class="org-list">
            <li>Limitations
                <ul class="org-sublist">
                    <li>Results are aggregated</li>
                    <li>Limited sample size (relative to Decennial)</li>
                    <li><b>Margins of Error</b></li>
                </ul>
            </li>
            <li>Advantages
                <ul class="org-sublist">
                    <li>Small geographies available</li>
                    <li>Socioeconomic variables</li>
                    <li>Updated annually</li>
                    <li>Robust aging dataset</li>
                </ul>
            </li>

        </ul>
    </div>
    <div class="col-lg-6">
        <div class="acs-container">
            <a href="http://www.census.gov/library/infographics/how-the-acs-works.html" target="_blank">
                <img src="images/acs.png"/>
            </a>
        </div>
    </div>
</div>


