<div class="row">
    <div class="col-lg-6">
        <h2 id="org-title" style="font-size:40px; position:relative; left:20px; z-index:9999">AAA Responsibilities</h2>
        <ul class="org-list">
            <li>
                Provide Services
                <ul class="org-sublist">
                    <li>Information and Assistance</li>
                    <li>Options Counseling</li>
                    <li>Long-term Care Ombudsman Program</li>
                    <li>Case Management</li>
                    <li>Elder Refugee Services</li>
                    <li>Hospital Transitions</li>
                </ul>
            </li>
            <li>
                Fund Services
                <ul class="org-sublist">
                    <li>Administer and implement the Older American's Act Programs</li>
                    <li>Meet needs in the region</li>
                </ul>
            </li>
        </ul>
        <h2 id="org-title-rpo" style="font-size:40px; position:fixed; left:20px; top:175px; opacity:0;">RPO Responsibilities</h2>
        <ul class="org-list rpo" style="position:fixed;">
            <li>
                Metro Vision and Planning
                <ul class="org-sublist">
                    <li>Metro Vision 2040</li>
                    <li>Sustainable Communities Initiative</li>
                    <li>Metro Vision Idea Exchange</li>
                    <li>Centralized Fire Testing</li>
                </ul>
            </li>
            <li>
                Socioeconomic and Travel Teams
                <ul class="org-sublist">
                    <li>Travel Forecast</li>
                    <li>Land Use Modeling</li>
                    <li>Economic Research</li>
                    <li>Transit Oriented Development</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-lg-6">
        <img src="images/org-chart.png"/>
    </div>
</div>
