<div class="row">
    <div class="col-lg-6">
        <h3 style="position:relative; left:10px; font-size:280%; text-align: center;">Presentation Overview</h3>
        <br>
        <div class="list-container">
            <ul class="title-ul">
                <li>Introduction</li>
                <li>Role of RPO and socioeconomic modelling team</li>
                <li>American Community Survey</li>
                <li>A first look at AAA's aging population</li>
                <li>Demographic Deep Dive</li>
                <li>Qustions</li>
            </ul>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="image-container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="images/title-image1.png"/>
                    <img src="images/title-image2.jpg"/>
                    <img src="images/title-image5.png"/>

                </div>
                <div class="col-lg-6">
                    <img src="images/title-image4.jpg"/>
                    <img src="images/title-image3.png"/>
                    <img src="images/title-image6.jpg"/>
                </div>
            </div>

        </div>

    </div>
</div>